import

/* NAV BAR */
.news-list {
    width: 100%;
    min-height: 80vh;
    max-width: 1280px;
    padding: 0px 24px;
    text-decoration: none;
}

/* ULTIMAS NOTICIAS POR RELEVÂNCIA */
.news-list h2 {
    margin: 24px 0px;
    font-size: 1.4rem;
}

.acessibility-button {
    background: none;
}

.img-acessibilty {
    margin-bottom: 15px;
    max-width: 5%;
    display: flex;
    background-color: none;
    cursor: pointer;
    background-color: red;
}

.title-speak {
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    margin: 0px 80px 0px 30px;
    background-color: blue;
    margin-bottom: 10px;
    
}
