.header {
    width: 100%;
    min-height: 300px;
    padding: 24px 0px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-bar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 36px;    
}

.search-bar input {
    width: 100%;
    margin-right: 16px;
}

.search-bar button {
    background: red;
    color: white;
    padding: 0px 16px;
    border-radius: 8px;
}

.filters {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 16px;
}

.button {
    cursor: pointer;
}

.filters input {
    width: 100%;
    margin-right: 16px;
}

.filters input:last-of-type {
    margin-right: 0px;
}