.footer {
    width: 100%;
    min-height: 250px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 54px;
}

.footer .container {
    width: 100%;
    max-width: 1280px;
}

.element-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 36px;
}

@media screen and (max-width: 920px) {
    .element-list{
        flex-direction: column;
        padding-bottom: 24px;
    }

    .element-list > *{
        padding-bottom: 16px;
    }
}
@media screen and (max-width: 540) {
    .element-list{
        padding: 0px 8px;
    }    
}
