.newsletter {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.newsletter h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.newsletter input {
    width: 100%;
    margin-bottom: 32px;
}

.newsletter button {
    font-weight: bold;
    background: red;
    padding: 16px;
    border-radius: 8px;
    color: white;
    width: 160px;
    cursor: pointer;
}
