.input {
    padding: 16px;
    border-radius: 8px;
    background: white;
    color: black;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bfa8a8;
}